/*Hacemos un reset de nuestro html*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*BREAKPOINTS*/

@media (min-width: 0px) and (max-width: 320px) {
    body{
        background-image: url("../img/maxresdefault.jpg");
        background-size: cover;
        background-repeat: no-repeat;        
    }
    .img{
        background-image: url("../img/kitten-small.png");
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    body{
        background-image: url("../img/dawn.png");
        background-size: cover;
        background-repeat: no-repeat;        
    }
    .img{
        background-image: url("../img/kitten-large.png");
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body{
        background-image: url("../img/dawn.png");
        background-size: cover;
        background-repeat: no-repeat;        
    }
    .img{
        background-image: url("../img/kitten-medium.png");
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-width: 769px){
    body{
        background-image: url("../img/Landscape.jpg");
        background-size: cover;
        background-repeat: no-repeat;        
    }
    .img{
        background-image: url("../img/kitten-medium.png");
        height: 500px;
        margin-top: 130px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
